body{
    height: 100%;
    background-image: linear-gradient(rgb(20, 81, 85), rgb(77, 128, 132) 10%);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(77, 128, 132);
    margin: 0 30px 0 30px;
}

@media screen and (min-width: 1000px){
    body{
    height: 100%;
    background-image: linear-gradient(rgb(20, 81, 85), rgb(77, 128, 132) 25%);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(77, 128, 132);
    margin: 0 30px 0 30px;
    }
}

.h1{
    height: 100px;
    width: 100%;
    font-size: 30px;
    color: white;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-top: 20px;
}

@media screen and (min-width: 1000px){
    .h1{
        font-size: 40px;
        padding-bottom: 5px;
        margin-top:100px;
    }
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    background-image: linear-gradient(to right, tan, beige, rgb(252, 249, 239));
}

@media screen and (min-width: 1000px){
    .navbar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 75px;
    }
}

.home-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 60px;
    text-decoration: none;
    color: rgb(67, 15, 15);
    font-weight: bold;
    background-color: rgb(252, 249, 239);
    padding: 5px;
    border-bottom: 2px solid beige;
    border-left: 2px solid beige;
    margin: 5px 5px 5px 10px;
    transition: width 0.1s, height 0.1s, border-bottom-color 0.1s, background-color 0.1s;
}

.home-link:hover {
    width: 75px;
    height: 25px;
    background-color: white;
    border-bottom-color:rgb(67, 15, 15);
}

.about-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 60px;
    text-decoration: none;
    color: rgb(67, 15, 15);
    font-weight: bold;
    background-color: rgb(252, 249, 239);
    padding: 5px;
    border-bottom: 2px solid beige;
    border-left: 2px solid beige;
    margin: 5px 5px 5px 10px;
    transition: width 0.1s, height 0.1s, border-bottom-color 0.1s, background-color 0.1s;
}

.about-link:hover {
    width: 75px;
    height: 25px;
    background-color: white;
    border-bottom-color:rgb(67, 15, 15);
}

.projects-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 60px;
    text-decoration: none;
    color: rgb(67, 15, 15);
    font-weight: bold;
    background-color: rgb(252, 249, 239);
    padding: 5px;
    border-bottom: 2px solid beige;
    border-left: 2px solid beige;
    margin: 5px 5px 5px 10px;
    transition: width 0.1s, height 0.1s, border-bottom-color 0.1s, background-color 0.1s;
}

.projects-link:hover {
    width: 75px;
    height: 25px;
    background-color: white;
    border-bottom-color:rgb(67, 15, 15);
}

@media screen and (min-width: 1000px){
    .home-link{
        height: 30px;
    }

    .about-link{
        height: 30px;
    }

    .projects-link{
        height: 30px;
    }
}

.h2-1{
    display: flex;
    align-items:flex-start;
    height: 25px;
    width: 100%;
    color: white;
    padding: 5px;
    border-bottom: 2px solid white;
}

.about{
    width: 100%;
    color: white;
}

.img-logo{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.h2-2{
    display: flex;
    align-items:flex-start;
    height: 25px;
    width: 100%;
    color: white;
    padding: 5px;
    border-bottom: 2px solid white;
}

.home-photos{

}

.img-home-1{
    height: 250px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 128, 132);
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, rgb(77, 128, 132), rgb(20, 81, 85)) 1;
}

.img-home-2{
    height: 250px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 128, 132);
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, rgb(77, 128, 132), rgb(20, 81, 85)) 1;
}

.img-home-3{
    height: 250px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 128, 132);
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, rgb(77, 128, 132), rgb(20, 81, 85)) 1;
}

.img-home-p-1{
    color: white;
}

.img-home-p-2{
    color: white;
}

.img-home-p-3{
    color: white;
}

@media screen and (min-width: 1000px) {
    .home-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 10% 30% 60%;
    }
}

@media screen and (min-width: 1000px){
    .h2-1{
        grid-column-start: 1;
        grid-row-start: 1;
        width: 30%;
    }
}

@media screen and (min-width: 1000px){
    .about{
        width: 100%;
        grid-column-start: 1;
        grid-row-start: 2;
        display: flex;
        align-items: flex-start;
        font-size: 20px;
    }
}

@media screen and (min-width: 1000px){
    .img-logo{
        grid-column-start: 1;
        grid-row-start: 3;
        rotate: 270deg;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 50px;
    }
}

@media screen and (min-width: 1000px){
    .h2-2{
        grid-column-start: 2;
        grid-row-start: 1;
        width: 50%;
        display: flex;
    }
}

@media screen and (min-width: 1000px){
    .home-photos{
        width: 100%;
        display: grid;
        grid-column-start: 2;
        grid-row-start: 2;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1000px){
    .home-photo-1{
        display: flex;
    }
}

@media screen and (min-width: 1000px){
    .home-photo-2{
        display: flex;
    }
}

@media screen and (min-width: 1000px){
    .home-photo-3{
        display: flex;
    }
}

@media screen and (min-width: 1000px){
    .img-home-1{
        grid-row-start: 1;
        height: 300px;
        width: 500px;
        background-color: rgb(77, 128, 132);
        padding: 10px;
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(45deg, rgb(77, 128, 132), rgb(20, 81, 85)) 1;
        margin: 25px;
    }
}

@media screen and (min-width: 1000px){
    .img-home-2{
        grid-row-start: 2;
        height: 300px;
        width: 500px;
        background-color: rgb(77, 128, 132);
        padding: 10px;
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(45deg, rgb(77, 128, 132), rgb(20, 81, 85)) 1;
        margin: 25px;
    }
}

@media screen and (min-width: 1000px){
    .img-home-3{
        grid-row-start: 3;
        height: 300px;
        width: 500px;
        background-color: rgb(77, 128, 132);
        padding: 10px;
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(45deg, rgb(77, 128, 132), rgb(20, 81, 85)) 1;
        margin: 25px;
    }

}

@media screen and (min-width: 1000px){
    .img-home-p-1{
        grid-column-start: 3;
        grid-row-start: 2;
        color: white;
        width: 100%;
    }
}

@media screen and (min-width: 1000px){
    .img-home-p-2{
        grid-column-start: 3;
        grid-row-start: 2;
        color: white;
        width: 100%;
    }
}

@media screen and (min-width: 1000px){
    .img-home-p-3{
        grid-column-start: 3;
        grid-row-start: 2;
        color: white;
        width: 100%;
    }
}

.footer{
    height: 600px;
    width: 100%;
    display: grid;
    border-top: 2px solid white;
}

@media screen and (min-width: 1000px){
    .footer{
        height: 300px;
    }
}

.h2-3{
    display: flex;
    align-items:flex-start;
    height: 25px;
    width: 100%;
    color: white;
    padding: 5px;
    border-bottom: 2px solid white;
}

@media screen and (min-width: 1000px){
    .h2-3{
        width: 6%;
    }
}
