:root {
    --primary-color-1: rgb(77, 128, 132);
    --primary-color-2: rgb(20, 81, 85);
    --accent-color-1: tan;
    --accent-color-2: beige;
    --accent-color-3: rgb(252, 249, 239);

    --text-color-1: white;
    --text-color-2: rgb(67, 15, 15);
}

body{
    height: 100%;
    background-image: linear-gradient(var(--primary-color-2), var(--primary-color-1) 10%);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary-color-1);
    margin: 0 30px 0 30px;
}

.h1{
    height: 100px;
    width: 100%;
    font-size: 30px;
    color: var(--text-color-1);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--text-color-1);
    margin-top: 20px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    background-image: linear-gradient(to right, var(--accent-color-1), var(--accent-color-2), var(--accent-color-3));
}

.home-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 60px;
    text-decoration: none;
    color: var(--text-color-2);
    font-weight: bold;
    background-color: var(--accent-color-3);
    padding: 5px;
    border-bottom: 2px solid var(--accent-color-2);
    border-left: 2px solid var(--accent-color-2);
    margin: 5px 5px 5px 10px;
    transition: width 0.1s, height 0.1s, border-bottom-color 0.1s, background-color 0.1s;
}

.home-link:hover {
    width: 75px;
    height: 25px;
    background-color: var(--text-color-1);
    border-bottom-color:var(--text-color-2);
}

.about-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 60px;
    text-decoration: none;
    color: var(--text-color-2);
    font-weight: bold;
    background-color: var(--accent-color-3);
    padding: 5px;
    border-bottom: 2px solid var(--accent-color-2);
    border-left: 2px solid var(--accent-color-2);
    margin: 5px 5px 5px 10px;
    transition: width 0.1s, height 0.1s, border-bottom-color 0.1s, background-color 0.1s;
}

.about-link:hover {
    width: 75px;
    height: 25px;
    background-color: var(--text-color-1);
    border-bottom-color:var(--text-color-2);
}

.projects-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 60px;
    text-decoration: none;
    color: var(--text-color-2);
    font-weight: bold;
    background-color: var(--accent-color-3);
    padding: 5px;
    border-bottom: 2px solid var(--accent-color-2);
    border-left: 2px solid var(--accent-color-2);
    margin: 5px 5px 5px 10px;
    transition: width 0.1s, height 0.1s, border-bottom-color 0.1s, background-color 0.1s;
}

.projects-link:hover {
    width: 75px;
    height: 25px;
    background-color: var(--text-color-1);
    border-bottom-color:var(--text-color-2);
}

.home-container {
    border-bottom: 2px solid var(--text-color-1);
}

.h2-1{
    display: flex;
    align-items:flex-start;
    height: 25px;
    width: 100%;
    color: var(--text-color-1);
    padding: 5px;
    border-bottom: 2px solid var(--text-color-1);
}

.about{
    width: 100%;
    color: var(--text-color-1);
}

.img-logo{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.h2-2{
    display: flex;
    align-items:flex-start;
    height: 25px;
    width: 100%;
    color: var(--text-color-1);
    padding: 5px;
    border-bottom: 2px solid var(--text-color-1);
}

.home-photos{

}

.img-home-1{
    height: 250px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-1);
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, var(--primary-color-1), var(--primary-color-2)) 1;
}

.img-home-2{
    height: 250px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-1);
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, var(--primary-color-1), var(--primary-color-2)) 1;
}

.img-home-3{
    height: 250px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-1);
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, var(--primary-color-1), var(--primary-color-2)) 1;
}

.img-home-p-1{
    color: var(--text-color-1);
}

.img-home-p-2{
    color: var(--text-color-1);
}

.img-home-p-3{
    color: var(--text-color-1);
}

.footer{
    width: 100%;
    background-image: linear-gradient(to right, var(--accent-color-1), var(--accent-color-2), var(--accent-color-3));
}

.h2-3{
    display: flex;
    align-items:flex-start;
    height: 25px;
    width: 80%;
    color: var(--text-color-2);
    padding: 5px;
    border-bottom: 2px solid var(--text-color-2);
    margin-left: 5px;
}

.skills {
    height:250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-around;
    color: var(--text-color-2);
}

li {
    padding: 5px;
}

.footer-links {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.footer-link {
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-1);
    text-decoration: none;
    padding: 5px;
    border-right: 2px solid var(--text-color-1);
    margin: 5px;
    transition: border-bottom 0.1s, font-weight 0.1s;
}

.footer-link:hover {
    border-bottom: 2px solid var(--text-color-1);
    font-weight: bold;
}

@media screen and (min-width: 490px) {
    body{
        height: 100%;
        background-image: linear-gradient(var(--primary-color-2), var(--primary-color-1) 25%);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--primary-color-1);
        margin: 0 30px 0 30px;
        }

    .h1{
        font-size: 40px;
        padding-bottom: 5px;
        margin-top:100px;
    }

    .navbar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 75px;
    }

    .home-link{
        height: 30px;
    }

    .about-link{
        height: 30px;
    }

    .projects-link{
        height: 30px;
    }

    .home-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 10% 30% 60%;
    }

    .h2-1{
            grid-column-start: 1;
            grid-row-start: 1;
            width: 30%;
    }

    .about{
        width: 100%;
        grid-column-start: 1;
        grid-row-start: 2;
        display: flex;
        align-items: flex-start;
        font-size: 20px;
    }

    .img-logo{
        grid-column-start: 1;
        grid-row-start: 3;
        rotate: 270deg;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 50px;
    }

    .h2-2{
        grid-column-start: 2;
        grid-row-start: 1;
        width: 50%;
        display: flex;
    }

    .home-photos{
        width: 100%;
        display: grid;
        grid-column-start: 2;
        grid-row-start: 2;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .home-photo-1{
        display: flex;
    }

    .home-photo-2{
        display: flex;
    }

    .home-photo-3{
        display: flex;
    }

    .img-home-1{
        grid-row-start: 1;
        height: 300px;
        width: 500px;
        background-color: var(--primary-color-1);
        padding: 10px;
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(45deg, var(--primary-color-1), var(--primary-color-2)) 1;
        margin: 25px;
    }

    .img-home-2{
        grid-row-start: 2;
        height: 300px;
        width: 500px;
        background-color: var(--primary-color-1);
        padding: 10px;
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(45deg, var(--primary-color-1), var(--primary-color-2)) 1;
        margin: 25px;
    }

    .img-home-3{
        grid-row-start: 3;
        height: 300px;
        width: 500px;
        background-color: var(--primary-color-1);
        padding: 10px;
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(45deg, var(--primary-color-1), var(--primary-color-2)) 1;
        margin: 25px;
    }

    .img-home-p-1{
        grid-column-start: 3;
        grid-row-start: 2;
        color: var(--text-color-1);
        width: 100%;
    }

    .img-home-p-2{
        grid-column-start: 3;
        grid-row-start: 2;
        color: var(--text-color-1);
        width: 100%;
    }

    .img-home-p-3{
        grid-column-start: 3;
        grid-row-start: 2;
        color: var(--text-color-1);
        width: 100%;
    }

    .footer{
        margin-top: 20px;
        padding: 2px;
    }

    .h2-3{

    }

    .skills {
        height: 175px;
        width: 100%
        padding: 10px;
    }
}
